name: Main

on: [ push, pull_request ]
env:
  GRADLE_OPTS: -Dorg.gradle.jvmargs="-Xmx3072m -XX:MaxMetaspaceSize=1g -Xms512m -XX:+HeapDumpOnOutOfMemoryError"
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 11

      - run: ./gradlew check

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: always()
        with:
          report_paths: '**/test-results/**/TEST-*.xml'

  release:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    needs: test
    if: startsWith(github.ref, 'refs/tags')
    steps:
      - uses: actions/checkout@v6

      - run: ./gradlew :rules:jar
      - run: cp rules/build/libs/rules.jar rules/build/libs/yazio-ktlint.jar

      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Github Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: rules/build/libs/yazio-ktlint.jar
